$bg-color: #fff6e6;

$text-color: black;
$border-color: #bdbdbd;
$positive-color: #0d660d;
$negative-color: #da1a1a;
$notr-color: #434343;
$passive-color: #b6b6b6;

$episode-list-color: #edf4da;

$episode-color: #3fbe0d;
$episode-hover-color: #46b00d;
$episode-text-color: #ffffa5;
$episode-text-hover-color: #feff14;

$charachters-color: #f5ecd5;
$charachter-color: #fde094;