$space0: 4px;
$space1: 8px;
$space2: 12px;
$space3: 16px;
$space4: 20px;
$space5: 24px;
$space6: 36px;

$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 24px;
$font-size-xxl: 36px;

$line-height-xs: 18px;
$line-height-s: 20px;
$line-height-m: 22px;
$line-height-l: 24px;
$line-height-xl: 30px;
$line-height-xxl: 48px;

$border-radius: 4px;
$border-radius-l: 12px;

$charachter-length: 180px;
$box-shadow-episode: 0px 8px 11px 0px rgb(101 166 59 / 50%);
$box-shadow-charachter: 0px 2px 12px 4px rgba(120,107,57,0.5);

$mobile-max-width: 767px;
$desktop-min-width: 768px;

